.card {
  display: flex;
  background-color: #ffffff20;

  justify-content: center;
  align-content: center;

  padding: 10px;
  border-radius: 25px;

  width: 175px;
  height: 50px;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); */
  h2 {
    margin: 0;
    justify-content: center;
    align-content: center;
    font-size: 20px;
  }
}
