body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#main-container {
  /* Display */
  min-height: 100vh;
  height: fit-content;
  width: fit-content;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  /* Aligns */
  align-items: center;
  justify-content: center;
  /* Background */
  background: linear-gradient(0deg, var(--color-tertiary-shadow) 0%, var(--background-color) 100%);
}
